In [1]:
import os
import warnings
warnings.filterwarnings('ignore')
from typing import Any, Dict, List, Tuple
from pathlib import Path
import yaml

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from pandas_profiling import ProfileReport # profile report を作る用
from matplotlib_venn import venn2 # venn図を作成する用
from tqdm import tqdm
from contextlib import contextmanager
from time import time
from collections import Counter

from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_log_error, mean_squared_error
import lightgbm as lgb

from mykaggle.metric.mse import rmsle
from mykaggle.util.ml_logger import MLLogger
from mykaggle.lib.lgbm_util import compute_importances, save_importances
from mykaggle.lib.pandas_util import change_column_name
from mykaggle.util.routine import fix_seed

sns.set_style('darkgrid')

In [2]:
settings = yaml.safe_load('''
name: '262_eda_scores'
competition: atmacup8
seed: 1019
training:
    num_folds: 5
    num_rounds: 1000
    early_stopping_rounds: 100
    verbose_eval: 20
lgbm_params:
    objective: binary
    learning_rate: 0.05
    max_depth: -1
    num_leaves: 31
    colsample_bytree: .7
    metric: "None"
feature:
    name_bow_pca_dim: 10
    name_bow_word_th1: 5
    name_bow_word_th2: 3
    name_bow_th1_upper: 130
    name_bow_th2_upper: 1000
''')

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [3]:
fix_seed(settings['seed'])
pd.set_option('display.max_rows', 500)

In [4]:
datadir = Path('../data/')
ckptdir = Path('../ckpt/') / settings['name']
if not ckptdir.exists():
    ckptdir.mkdir()

In [5]:
df_train = pd.read_csv(datadir / 'id_train.csv')
df_test = pd.read_csv(datadir / 'id_test_unknown.csv')
df_submission = pd.read_csv(datadir / 'atmaCup8_sample-submission.csv')
df_train.shape, df_test.shape

((8359, 17), (8360, 12))

In [6]:
df_train.head().T

,0,1,2,3,4
Name,LEGO Batman: The Videogame,LEGO Indiana Jones: The Original Adventures,LEGO Batman: The Videogame,Combat,LEGO Harry Potter: Years 5-7
Platform,Wii,Wii,PSP,2600,Wii
Year_of_Release,NaN,NaN,NaN,NaN,NaN
Genre,Action,Action,Action,Action,Action
Publisher,Warner Bros. Interactive Entertainment,LucasArts,Warner Bros. Interactive Entertainment,Atari,Warner Bros. Interactive Entertainment
NA_Sales,180,151,56,117,69
EU_Sales,97,61,44,7,42
JP_Sales,0,0,0,0,0
Other_Sales,28,21,27,1,12
Global_Sales,306,234,128,125,124
Critic_Score,74,78,73,NaN,76
Critic_Count,17,22,5,NaN,8
User_Score,7.9,6.6,7.4,NaN,7.8
User_Count,22,28,10,NaN,13
Developer,Traveller's Tales,Traveller's Tales,Traveller's Tales,NaN,Traveller's Tales
Rating,E10+,E10+,E10+,NaN,E10+
id,0,1,2,3,4

In [7]:
df_test.head().T

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,0,1,2,3,4
Name,Hitman 2: Silent Assassin,Legacy of Kain: Soul Reaver,Metal Gear Solid 2: Substance,Silent Hill: Homecoming,Silent Hill: Homecoming
Platform,XB,PS,XB,X360,PS3
Year_of_Release,NaN,NaN,NaN,NaN,NaN
Genre,Action,Action,Action,Action,Action
Publisher,Eidos Interactive,Eidos Interactive,Konami Digital Entertainment,Konami Digital Entertainment,Konami Digital Entertainment
Critic_Score,84,91,87,70,71
Critic_Count,23,17,28,54,41
User_Score,8,9,8.5,6.9,6.9
User_Count,19,132,39,180,143
Developer,Io Interactive,Crystal Dynamics,KCEJ,Double Helix Games,Double Helix Games
Rating,M,T,M,M,M
id,8359,8360,8361,8362,8363

In [8]:
df_submission.head()

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

   Global_Sales
0     63.371815
1     63.371815
2     63.371815
3     63.371815
4     63.371815

In [9]:
train = df_train.copy()
test = df_test.copy()
train['is_test'] = False
test['is_test'] = True
df_whole = pd.concat([train, test])

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [10]:
train_others = {
    'main': df_train.copy(),
    'another': df_test.copy()
}
test_others = {
    'main': df_test.copy(),
    'another': df_train.copy(),
}

# has sales のデータ作成

In [34]:
pred_sales = [
    '262_has_jp_sales',
    '263_has_na_sales',
    '264_has_eu_sales',
    '265_has_other_sales'
]

In [35]:
basedir = Path('../ckpt/')
dfs = []
for pred in pred_sales:
    df = pd.read_csv(basedir / pred / (pred + '.csv'))
    dfs.append(df)
    
df_sales = pd.concat(dfs, axis=1)
df_sales.head()

   has_jp_sales  has_na_sales  has_eu_sales  has_other_sales
0      0.030602      0.933737      0.914632         0.487030
1      0.497666      0.910432      0.955620         0.838640
2      0.103785      0.925141      0.910155         0.790746
3      0.325955      0.921452      0.943334         0.882707
4      0.545972      0.905374      0.931588         0.932657

In [36]:
df_test_sales = pd.concat([df_test, df_sales], axis=1)
df_test_sales.to_csv(datadir / 'region_prob_test_262.csv', index=False)
df_test_sales.head()

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Name,Platform,Year_of_Release,Genre,Publisher,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,id,has_jp_sales,has_na_sales,has_eu_sales,has_other_sales
0,Hitman 2: Silent Assassin,XB,NaN,Action,Eidos Interactive,84.0,23.0,8,19.0,Io Interactive,M,8359,0.030602,0.933737,0.914632,0.487030
1,Legacy of Kain: Soul Reaver,PS,NaN,Action,Eidos Interactive,91.0,17.0,9,132.0,Crystal Dynamics,T,8360,0.497666,0.910432,0.955620,0.838640
2,Metal Gear Solid 2: Substance,XB,NaN,Action,Konami Digital Entertainment,87.0,28.0,8.5,39.0,KCEJ,M,8361,0.103785,0.925141,0.910155,0.790746
3,Silent Hill: Homecoming,X360,NaN,Action,Konami Digital Entertainment,70.0,54.0,6.9,180.0,Double Helix Games,M,8362,0.325955,0.921452,0.943334,0.882707
4,Silent Hill: Homecoming,PS3,NaN,Action,Konami Digital Entertainment,71.0,41.0,6.9,143.0,Double Helix Games,M,8363,0.545972,0.905374,0.931588,0.932657

In [37]:
basedir = Path('../ckpt/')
dfs = []
for pred in pred_sales:
    df = pd.read_csv(basedir / pred / ('oof_' + pred + '.csv'))
    dfs.append(df)
    
df_sales = pd.concat(dfs, axis=1)
df_sales.head()

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

   has_jp_sales  has_na_sales  has_eu_sales  has_other_sales
0      0.010878      0.733617      0.977188         0.843998
1      0.025258      0.983060      0.925142         0.948982
2      0.009962      0.729503      0.690904         0.662269
3      0.008375      0.788722      0.805032         0.248701
4      0.009346      0.733617      0.963826         0.796361

In [38]:
has_sales = ['has_jp_sales', 'has_na_sales', 'has_eu_sales', 'has_other_sales']
df_train_sales = df_train.copy()
for c in has_sales:
    df_train_sales.loc[:, c] = df_sales.loc[:, c]
df_train_sales.to_csv(datadir / 'region_prob_train_oof_262.csv', index=False)

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [39]:
basedir = Path('../ckpt/')
dfs = []
for pred in pred_sales:
    df = pd.read_csv(basedir / pred / ('train_' + pred + '.csv'))
    dfs.append(df)
    
df_sales = pd.concat(dfs, axis=1)
df_sales.head()

   has_jp_sales  has_na_sales  has_eu_sales  has_other_sales
0      0.022929      0.935234      0.944154         0.951830
1      0.025009      0.931853      0.946925         0.923892
2      0.020638      0.931021      0.868304         0.911874
3      0.008871      0.890094      0.909186         0.272971
4      0.024498      0.934017      0.939700         0.942884

In [40]:
has_sales = ['has_jp_sales', 'has_na_sales', 'has_eu_sales', 'has_other_sales']
df_train_sales = df_train.copy()
for c in has_sales:
    df_train_sales.loc[:, c] = df_sales.loc[:, c]
df_train_sales.to_csv(datadir / 'region_prob_train_262.csv', index=False)

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

# User Score など

In [22]:
df_train['is_User_Score_tbd'] = df_train['User_Score'].apply(lambda x: x == 'tbd')
df_train.loc[df_train['User_Score'] == 'tbd', 'User_Score'] = np.nan
df_train['User_Score'] = df_train['User_Score'].astype(np.float32)

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [12]:
df_train_score = df_train[~df_train['is_User_Score_tbd']]
df_train_score['User_Score'] = df_train_score['User_Score'].astype(float)

In [13]:
# rating system がはじまったのはいつから?
columns = [
    'User_Score', 'User_Count', 'Critic_Score', 'Critic_Count',
    'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'
]
df_train_score.groupby('Year_of_Release')[columns].mean()

,User_Score,User_Count,Critic_Score,Critic_Count,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Year_of_Release,,,,,,,,,
1980.0,NaN,NaN,NaN,NaN,194.250000,12.250000,0.000000,2.250000,208.750000
1981.0,NaN,NaN,NaN,NaN,68.352941,4.029412,0.000000,0.676471,73.264706
1982.0,NaN,NaN,NaN,NaN,94.565217,5.782609,0.000000,1.043478,101.347826
1983.0,NaN,NaN,NaN,NaN,42.500000,4.928571,57.857143,0.857143,105.928571
1984.0,NaN,NaN,NaN,NaN,361.888889,21.666667,115.111111,7.444444,506.222222
1985.0,NaN,NaN,NaN,NaN,414.125000,58.500000,152.875000,11.375000,636.875000
1986.0,NaN,NaN,NaN,NaN,84.454545,19.909091,80.181818,16.636364,201.000000
1987.0,NaN,NaN,NaN,NaN,62.181818,11.727273,78.727273,1.727273,154.727273
1988.0,2.200000,4572.000000,64.000000,75.000000,209.727273,59.545455,122.090909,8.909091,400.363636
1989.0,NaN,NaN,NaN,NaN,316.428571,59.571429,120.642857,10.500000,507.357143
1990.0,NaN,NaN,NaN,NaN,182.461538,56.769231,108.000000,10.538462,357.692308
1991.0,NaN,NaN,NaN,NaN,38.689655,12.758621,39.482759,2.103448,93.068966
1992.0,8.200000,1796.000000,85.000000,44.000000,100.366667,33.333333,88.600000,4.966667,227.333333
1993.0,NaN,NaN,NaN,NaN,36.162162,11.243243,48.270270,2.189189,97.864865
1994.0,6.300000,4.000000,69.000000,4.000000,24.013514,13.810811,32.986486,2.067568,72.864865
1995.0,NaN,NaN,NaN,NaN,12.737705,6.311475,28.655738,1.221311,48.909836
1996.0,8.150000,75.000000,90.500000,11.500000,44.346154,22.807692,33.315385,3.246154,103.692308
1997.0,8.322222,536.555556,86.777778,13.222222,41.069231,17.469231,25.269231,3.746154,87.546154
1998.0,8.691667,141.166667,83.727273,13.636364,40.052941,21.264706,18.776471,3.358824,83.523529
1999.0,8.570588,168.764706,81.764706,14.470588,47.509934,24.072848,25.092715,3.708609,100.417219
2000.0,7.910811,85.513514,75.542857,15.685714,37.230159,20.253968,21.349206,4.587302,83.452381
2001.0,7.679091,98.127273,74.550459,21.311927,49.433862,24.708995,16.026455,5.328042,95.507937
2002.0,7.704072,57.728507,71.443925,21.112150,33.075410,15.590164,9.491803,3.793443,62.039344
2003.0,7.830469,50.097656,69.621951,25.410569,26.688525,13.631148,6.562842,3.322404,50.232240
2004.0,7.672727,132.260331,69.474790,30.512605,33.489614,14.029674,9.813056,9.118694,66.501484
2005.0,7.539858,73.053381,69.650909,31.818182,30.454106,18.823671,11.243961,6.043478,66.632850
2006.0,7.319392,91.079848,69.492126,32.622047,38.588367,22.004474,12.959732,8.651007,82.243848
2007.0,7.026625,111.894737,68.259740,28.402597,30.179439,17.128972,8.353271,7.700935,63.429907
2008.0,7.036599,141.685879,67.533123,28.977918,29.688245,16.720613,7.199319,6.802385,60.431005
2009.0,7.059649,138.957895,69.945312,35.082031,31.804829,18.750503,9.329980,6.909457,66.814889
2010.0,7.021053,208.925439,70.056872,38.208531,31.675159,18.346072,8.411890,6.235669,64.687898
2011.0,6.798450,276.275194,70.595041,36.818182,25.654428,16.922246,7.012959,5.498920,55.112311
2012.0,7.080226,293.355932,73.174699,37.096386,26.209836,17.000000,11.124590,5.259016,59.557377
2013.0,6.958170,536.274510,72.165517,35.420690,32.062500,24.779412,12.136029,7.900735,76.922794
2014.0,7.117576,306.775758,72.492424,34.007576,24.789286,21.882143,10.525000,6.750000,63.950000
2015.0,7.116667,461.000000,74.226891,38.907563,20.231834,15.435986,8.114187,5.100346,48.906574
2016.0,6.774803,261.425197,73.540541,32.954955,8.616327,8.395918,5.146939,2.506122,24.681633
2017.0,NaN,NaN,NaN,NaN,0.000000,0.000000,2.000000,0.000000,2.000000

In [14]:
# Platform ごとのスコアは?
columns = [
    'User_Score', 'User_Count', 'Critic_Score', 'Critic_Count',
    'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'
]
df_train_score.groupby('Platform')[columns].mean()

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,User_Score,User_Count,Critic_Score,Critic_Count,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Platform,,,,,,,,,
2600,NaN,NaN,NaN,NaN,75.170455,4.556818,0.000000,0.750000,80.568182
3DO,NaN,NaN,NaN,NaN,0.000000,0.000000,2.000000,0.000000,2.000000
3DS,7.172641,128.198113,70.700000,37.950000,28.130952,21.317460,33.361111,4.567460,87.424603
DC,8.436364,82.000000,86.818182,17.181818,12.243902,3.560976,16.195122,0.585366,32.634146
DS,7.186054,42.625850,69.088968,27.241993,28.640854,17.750334,19.062750,5.173565,70.662216
GB,NaN,NaN,NaN,NaN,144.166667,60.012821,92.474359,10.269231,306.987179
GBA,7.658824,29.732026,69.815068,18.438356,31.950156,13.451713,12.937695,1.647975,60.052960
GC,7.691824,63.509434,69.857143,25.785714,39.444444,11.838384,9.813131,1.727273,62.919192
GEN,NaN,NaN,NaN,NaN,60.095238,18.380952,12.380952,3.000000,94.000000
GG,NaN,NaN,NaN,NaN,0.000000,0.000000,4.000000,0.000000,4.000000
N64,NaN,NaN,NaN,NaN,71.640000,22.632000,23.576000,2.448000,120.368000
NES,NaN,NaN,NaN,NaN,178.439394,29.803030,110.969697,7.590909,326.818182
NG,NaN,NaN,NaN,NaN,0.000000,0.000000,13.900000,0.000000,13.900000
PC,7.238418,645.889831,76.140244,29.810976,7.434783,11.589372,0.041063,1.801932,20.951691
PCFX,NaN,NaN,NaN,NaN,0.000000,0.000000,3.000000,0.000000,3.000000
PS,8.012308,103.569231,75.403226,11.645161,32.279919,19.657201,18.409736,3.886410,74.231237
PS2,7.663773,51.813022,69.362500,25.712500,26.336032,14.615385,8.127530,9.119433,58.210526
PS3,6.956776,255.392523,71.182519,37.280206,32.361526,25.152570,6.975124,10.804312,75.310116
PS4,7.075806,508.774194,73.172131,41.442623,25.382353,28.686275,4.053922,10.612745,68.745098
PSP,7.304000,37.533333,70.526066,29.298578,10.484483,6.779310,7.494828,4.268966,29.053448
PSV,7.520930,117.930233,72.337838,30.283784,3.574468,3.595745,4.987234,1.834043,14.000000
SAT,NaN,NaN,NaN,NaN,0.558140,0.418605,19.542636,0.054264,20.558140
SCD,NaN,NaN,NaN,NaN,16.666667,6.000000,7.500000,0.833333,31.166667
SNES,NaN,NaN,NaN,NaN,42.200000,13.561538,64.869231,2.284615,122.938462
TG16,NaN,NaN,NaN,NaN,0.000000,0.000000,14.000000,0.000000,14.000000
WS,NaN,NaN,NaN,NaN,0.000000,0.000000,38.000000,0.000000,38.000000
Wii,6.935581,83.617978,65.410788,26.668050,65.442177,39.383220,13.399093,11.428571,129.655329
WiiU,7.292064,298.841270,71.084746,40.864407,35.942529,23.459770,14.080460,5.632184,79.114943
X360,6.786878,209.432127,69.110294,44.963235,53.352834,23.928702,1.418647,7.617916,86.330896
XB,7.408787,31.476987,69.596639,29.121849,24.254181,7.110368,0.424749,1.013378,32.879599
XOne,6.866667,315.238095,74.526316,30.657895,36.965517,19.836207,0.189655,5.594828,62.698276

In [ ]:
# sns.pairplot(df_train[columns])

In [ ]:
# データを Score あるなしで分けてみる

In [ ]:
df_train.groupby('Year_of_Release')['Name'].count()

In [ ]:
# from mykaggle.feature.score_nan import ScoreNaN
# sn_train = ScoreNaN(train=True)
# sn_test = ScoreNaN(train=False)
# df_f_train = sn_train(df_train[['id']].copy(), others=train_others, use_cache=False, save_cache=False)
# df_f_test = sn_test(df_test[['id']].copy(), others=test_others, use_cache=False, save_cache=False)
# df_f_train

In [15]:
us_na_tr = df_train['User_Score'].isna()
uc_na_tr = df_train['User_Count'].isna()
cs_na_tr = df_train['Critic_Score'].isna()
cc_na_tr = df_train['Critic_Count'].isna()
us_na_te = df_test['User_Score'].isna()
uc_na_te = df_test['User_Count'].isna()
cs_na_te = df_test['Critic_Score'].isna()
cc_na_te = df_test['Critic_Count'].isna()

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [16]:
df_train.loc[us_na_tr & uc_na_tr & cs_na_tr & cc_na_tr].shape, df_test.loc[us_na_te & uc_na_te & cs_na_te & cc_na_te].shape

((4126, 18), (3156, 12))

In [17]:
df_train.loc[us_na_tr & uc_na_tr & cs_na_tr & cc_na_tr].shape, df_test.loc[us_na_te & uc_na_te & cs_na_te & cc_na_te].shape

((4126, 18), (3156, 12))

In [ ]:
df_no_score_train = df_train.loc[us_na_tr & uc_na_tr & cs_na_tr & cc_na_tr]
df_no_score_test = df_test.loc[us_na_te & uc_na_te & cs_na_te & cc_na_te]
df_score_train = df_train.loc[~(us_na_tr & uc_na_tr & cs_na_tr & cc_na_tr)]
df_score_test = df_test.loc[~(us_na_te & uc_na_te & cs_na_te & cc_na_te)]

In [20]:
df_train = pd.read_csv(datadir / 'id_train.csv')
df_test = pd.read_csv(datadir / 'id_test_unknown.csv')
us_na_tr = df_train['User_Score'].isna()
uc_na_tr = df_train['User_Count'].isna()
cs_na_tr = df_train['Critic_Score'].isna()
cc_na_tr = df_train['Critic_Count'].isna()
us_na_te = df_test['User_Score'].isna()
uc_na_te = df_test['User_Count'].isna()
cs_na_te = df_test['Critic_Score'].isna()
cc_na_te = df_test['Critic_Count'].isna()

df_no_score_train = df_train.loc[us_na_tr & uc_na_tr & cs_na_tr & cc_na_tr]
df_no_score_test = df_test.loc[us_na_te & uc_na_te & cs_na_te & cc_na_te]
df_score_train = df_train.loc[~(us_na_tr & uc_na_tr & cs_na_tr & cc_na_tr)]
df_score_test = df_test.loc[~(us_na_te & uc_na_te & cs_na_te & cc_na_te)]

# df_no_score_train.to_csv(datadir / 'id_train_no_score.csv', index=False)
# df_no_score_test.to_csv(datadir / 'id_test_no_score.csv', index=False)
# df_score_train.to_csv(datadir / 'id_train_score.csv', index=False)
# df_score_test.to_csv(datadir / 'id_test_score.csv', index=False)
df_no_score_train.shape, df_score_train.shape, df_no_score_test.shape, df_score_test.shape

((3510, 17), (4849, 17), (3156, 12), (5204, 12))

In [52]:
SALES_COLUMNS = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [53]:
df_train.groupby('Platform')[SALES_COLUMNS].agg(['mean'])

            NA_Sales   EU_Sales    JP_Sales Other_Sales Global_Sales
                mean       mean        mean        mean         mean
Platform
2600       75.170455   4.556818    0.000000    0.750000    80.568182
3DO         0.000000   0.000000    2.000000    0.000000     2.000000
3DS        26.600000  20.018519   31.200000    4.296296    82.159259
DC         12.243902   3.560976   16.195122    0.585366    32.634146
DS         23.631103  13.197107   13.083183    3.971971    53.908680
GB        144.166667  60.012821   92.474359   10.269231   306.987179
GBA        27.777528  11.676404    9.478652    1.346067    50.370787
GC         34.020833  10.137500    8.095833    1.462500    53.812500
GEN        60.095238  18.380952   12.380952    3.000000    94.000000
GG          0.000000   0.000000    4.000000    0.000000     4.000000
N64        71.640000  22.632000   23.576000    2.448000   120.368000
NES       178.439394  29.803030  110.969697    7.590909   326.818182
NG          0.000000   0.000000   13.900000    0.000000    13.900000
PC          7.501139  11.070615    0.038724    1.724374    20.423690
PCFX        0.000000   0.000000    3.000000    0.000000     3.000000
PS         31.730469  19.365234   17.726562    3.820312    72.632812
PS2        24.682971  13.953804    7.307971    8.692935    54.644022
PS3        30.816485  23.763608    6.589425   10.216174    71.405910
PS4        25.155340  28.407767    4.014563   10.509709    68.101942
PSP        10.369159   6.476636    6.792835    4.105919    27.777259
PSV         3.504167   3.575000    4.929167    1.812500    13.825000
SAT         0.558140   0.418605   19.542636    0.054264    20.558140
SCD        16.666667   6.000000    7.500000    0.833333    31.166667
SNES       42.200000  13.561538   64.869231    2.284615   122.938462
TG16        0.000000   0.000000   14.000000    0.000000    14.000000
WS          0.000000   0.000000   38.000000    0.000000    38.000000
Wii        50.756589  28.365891    9.161240    8.449612    96.751938
WiiU       35.942529  23.459770   14.080460    5.632184    79.114943
X360       50.506803  22.384354    1.324830    7.168367    81.399660
XB         20.981132   6.150943    0.342318    0.854447    28.428571
XOne       35.528926  19.074380    0.181818    5.371901    60.280992

# 再度 User Score など

In [78]:
df_train.groupby(['Platform'])['User_Score', 'Critic_Score'].agg(['count', 'mean', 'std'])

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

         User_Score                     Critic_Score
              count      mean       std        count       mean        std
Platform
2600              0       NaN       NaN            0        NaN        NaN
3DO               0       NaN       NaN            0        NaN        NaN
3DS             106  7.172641  1.248201          103  70.349515  11.321253
DC               11  8.436363  1.023008           11  86.818182   5.192652
DS              294  7.186054  1.551365          408  65.644608  14.006445
GB                0       NaN       NaN            0        NaN        NaN
GBA             153  7.658823  1.454599          231  67.082251  14.126361
GC              159  7.691824  1.293458          190  68.205263  13.949834
GEN               0       NaN       NaN            0        NaN        NaN
GG                0       NaN       NaN            0        NaN        NaN
N64               0       NaN       NaN            0        NaN        NaN
NES               0       NaN       NaN            0        NaN        NaN
NG                0       NaN       NaN            0        NaN        NaN
PC              354  7.238418  1.464014          329  76.106383  11.204757
PCFX              0       NaN       NaN            0        NaN        NaN
PS               65  8.012308  1.101633           79  73.240506  15.434074
PS2             599  7.663773  1.310457          619  68.609047  12.522303
PS3             428  6.956776  1.315188          403  70.756824  13.718036
PS4             124  7.075807  1.138632          122  73.172131  11.432658
PSP             225  7.304000  1.267073          247  69.044534  12.026142
PSV              86  7.520930  1.124917           75  72.306667   9.666008
SAT               0       NaN       NaN            0        NaN        NaN
SCD               0       NaN       NaN            0        NaN        NaN
SNES              0       NaN       NaN            0        NaN        NaN
TG16              0       NaN       NaN            0        NaN        NaN
WS                0       NaN       NaN            0        NaN        NaN
Wii             267  6.935581  1.550760          287  63.651568  14.417011
WiiU             63  7.292064  1.308570           59  71.084746  14.597222
X360            442  6.786878  1.420919          426  68.600939  14.734686
XB              239  7.408787  1.681250          309  67.809061  14.715013
XOne             84  6.866667  1.204543           78  74.346154  12.665350

In [79]:
df_train = pd.read_csv(datadir / 'country_prob_train.csv')
df_test = pd.read_csv(datadir / 'country_prob_test_unknown.csv')
us_na_tr = df_train['User_Score'].isna()
uc_na_tr = df_train['User_Count'].isna()
cs_na_tr = df_train['Critic_Score'].isna()
cc_na_tr = df_train['Critic_Count'].isna()
us_na_te = df_test['User_Score'].isna()
uc_na_te = df_test['User_Count'].isna()
cs_na_te = df_test['Critic_Score'].isna()
cc_na_te = df_test['Critic_Count'].isna()

df_no_score_train = df_train.loc[us_na_tr & uc_na_tr & cs_na_tr & cc_na_tr]
df_no_score_test = df_test.loc[us_na_te & uc_na_te & cs_na_te & cc_na_te]
df_score_train = df_train.loc[~(us_na_tr & uc_na_tr & cs_na_tr & cc_na_tr)]
df_score_test = df_test.loc[~(us_na_te & uc_na_te & cs_na_te & cc_na_te)]

# df_no_score_train.to_csv(datadir / 'country_prob_train_no_score.csv', index=False)
# df_no_score_test.to_csv(datadir / 'country_prob_test_no_score.csv', index=False)
# df_score_train.to_csv(datadir / 'country_prob_train_score.csv', index=False)
# df_score_test.to_csv(datadir / 'country_prob_test_score.csv', index=False)

df_no_score_train.shape, df_score_train.shape, df_no_score_test.shape, df_score_test.shape

/home/jupyter/workspace/atmacup8/.venv/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

((3510, 21), (4849, 21), (3156, 16), (5204, 16))

In [80]:
np.sum(df_train.loc[~df_train['User_Score'].isna(), 'Critic_Score'].isna())

873